<div class="interview">
  <editor-tools entity="interview" state="interview" 
    state-summary="interview" 
    state-edit="upload.interviews" 
    state-history="interviewhistorylog">
  </editor-tools>
  <div class="interview-player">
    <!-- player -->
    <div class="player">
      <!-- video -->
      <div class="player-video">
        <div class="container">
          <div class="row">
            <div ng-repeat="interviewee in interview.interviewee" class="col-sm-4 col-sm-offset-4">
              <img ng-if="interviewee.id==$stateParams.architectId&&interviewee.media" class="media-object img-full"
                ng-src="{{Uris.WS_MEDIA+interviewee.media+'?dimension=360x320'}}" alt="{{interviewee.label}}">
            </div>
          </div>
        </div>
      </div>
      <!-- end of video -->
      <!-- controls -->
      <div class="player-controls">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <video media-player="player" data-playlist="playerPlaylist" id="intvwmediaplayer" controls="controls">
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of interview player -->
  <!-- Interview Details -->
  <div class="l-frame l-frame-tight l-frame-highlight">
    <div class="interview-heading">
      <div class="container">
        <div ng-repeat="media in interview.media">
          <a ng-if="media.type==='Youtube'" ng-href="{{ media.url }}" target="_blank" class="pull-right">Watch on YouTube</a>
        </div>
        <h5 ng-click="isShowingInterviewDetails = !isShowingInterviewDetails" class="pull-left"
          style="margin: 0; padding: 0; position: relative; top: 3px;">
          <i class="fa fa-fw" ng-class="{'fa-chevron-right': !isShowingInterviewDetails, 'fa-chevron-down': isShowingInterviewDetails}"></i>{{
          interview.interviewdate | date:'dd MMMM yyyy' }}
        </h5>
        <div class="text-center">
          <span ng-repeat="interviewee in interview.interviewee" style="font-weight: bold;"> <a ng-if="interviewee.architect"
            ui-sref="architect.summary({ architectId: interviewee.id })"> {{ interviewee.label }} </a> <a ng-if="!interviewee.architect"
            ui-sref="other.summary({ otherId: interviewee.id })"> {{ interviewee.label }} </a>
          </span>
        </div>
      </div>
    </div>
    <div class="interview-details" ng-if="isShowingInterviewDetails">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5 ng-if="interview.location">Location</h5>
            <p>
              <i ng-if="interview.location" class="fa fa-map-marker"></i> <a href="https://maps.google.com/?q={{ interview.location }}"
                target="_blank">{{ interview.location }}</a>
            </p>
          </div>
          <div class="col-md-6">
            <h5>Interviewers</h5>
            <ul class="media-list">
              <li class="media" ng-repeat="interviewer in interview.interviewer"><span class="pull-left"> <img
                  class="media-object img-responsive img-circle" ng-if="!interviewer.media" src="images/icon.png" style="display: block; width: 20px">
                  <img class="media-object img-responsive img-circle" ng-if="interviewer.media"
                  ng-src="{{Uris.WS_MEDIA+interviewer.media+'?dimension=20x20'}}" alt="{{ interviewer.label }}" style="width: 20px">
              </span>
                <div class="media-body">{{ interviewer.label }}</div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-warning" style="margin: 0;" ng-if="Auth.canDelete() && isShowingTranscript">
    <div class="container">
      <button class="btn btn-default btn-xs" ng-click="deleteTranscript(interview)">
        <i class="fa fa-trash-o"></i> Delete Transcript
      </button>
    </div>
  </div>
  <div class="l-frame l-frame-tight">
    <!-- Interview transcript -->
    <div class="interview-transcript" ng-if="isShowingTranscript" id="transcript">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="btn-group pull-left">
              <button type="button" class="btn btn-default" ng-model="$parent.isSyncing" uib-btn-checkbox btn-checkbox-true="true"
                btn-checkbox-false="false" uib-tooltip="Sync Transcript">
                <i class="fa fa-refresh" ng-class="{ 'fa-spin': isSyncing && player.playing }"> </i>
              </button>
            </div>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cloud-download"></i> Download <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-if="(interview.media|filter:{type:'Audio'}).length"><a
                  ng-href="{{Uris.WS_DOWNLOAD+(interview.media|filter:{type:'Audio'})[0].id}}" target="_blank">Audio</a></li>
                <li ng-if="(interview.media|filter:{type:'Video'}).length"><a
                  ng-href="{{Uris.WS_DOWNLOAD+(interview.media|filter:{type:'Video'})[0].id}}" target="_blank">Video</a></li>
                <li ng-if="(interview.media|filter:{type:'Transcript'}).length"><a
                  ng-href="{{Uris.WS_DOWNLOAD+(interview.media|filter:{type:'Transcript'})[0].id}}" target="_blank">Transcript</a></li>
              </ul>
            </div>
            <div class="input-group" style="padding: 0 15px;">
              <span class="input-group-addon"><i class="fa fa-search"></i> </span> <input type="text" class="form-control"
                placeholder="Search transcript" ng-model="transcriptSearchInput" ng-change="transcriptSearchInputChanged(transcriptSearchInput)"
                ng-keydown="transcriptSearchKeydown($event)">
            </div>
          </div>
        </div>
        <!-- exchanges -->
        <div infinite-scroll="addMoreExchanges()" class="interview-exchanges" style="margin-top: 24px;">
          <div ng-repeat="exchange in interview.transcript | filter:timeFilter | limitTo:exchangeDisplayCount" class="row exchange"
            ng-class="{'exchange-searching': isSearching}" id="{{ exchange.id }}" style="margin-bottom: 20px">
            <!-- transcript -->
            <div class="col-sm-6">
              <div class="media">
                <div class="pull-left" style="text-align: center">
                  <img
                    ng-if="(interview.interviewer|filter:{id:exchange.speakerid})[0].media||(interview.interviewee|filter:{id:exchange.speakerid})[0].media"
                    class="media-object exchange-dp"
                    ng-src="{{Uris.WS_MEDIA+((interview.interviewer|filter:{id:exchange.speakerid})[0].media||(interview.interviewee|filter:{id:exchange.speakerid})[0].media)+'?dimension=32x28'}}"
                    alt="" style="width: 32px" /> <img
                    ng-if="!((interview.interviewer|filter:{id:exchange.speakerid})[0].media||(interview.interviewee|filter:{id:exchange.speakerid})[0].media)"
                    class="media-object exchange-dp" src="images/icon.png" alt="" style="width: 32px" />
                  <!-- play button -->
                  <button class="btn btn-xs btn-default exchange-play" ng-click="playFromExchange(exchange)">
                    <i class="fa fa-play"></i>
                  </button>
                  <a ui-sref="architect.interview({time: exchange.startTime})" class="btn btn-link exchange-play"><i class="fa fa-link"></i></a>
                  <!-- end of play button -->
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <strong> <a ng-if="getSpeakerArchitect(exchange.speakerid)==true"
                      ui-sref="architect.summary({architectId: exchange.speakerid})"> {{ exchange.speaker }} </a> <a
                      ng-if="getSpeakerArchitect(exchange.speakerid)==false" ui-sref="other.summary({otherId: exchange.speakerid})"> {{
                        exchange.speaker }} </a> <span ng-if="getSpeakerArchitect(exchange.speakerid)==undefined"> {{ exchange.speaker }} </span> <span
                      ng-if="!exchange.speaker"> {{ exchange.speakerInitials }} </span>
                    </strong> <span class="pull-right" ng-if="isSearching">{{ exchange.time }}</span>
                  </div>
                  <p ng-bind-html="exchange.transcript | highlight:transcriptSearchInput" ng-class="{ highlight: startTime == exchange.startTime }"></p>
                </div>
              </div>
            </div>
            <!-- end of transcript -->
            <!-- relationships -->
            <div class="col-sm-6">
              <relationship-list 
                relationships="exchange.relationships"
                entities="relationshipOptions.entities"
                types="relationshipOptions.types"
                default-subject-id="interview.interviewee[0].id"
                ng-attr-allow-edit="{{ Auth.isEditor() && Auth.success && !isSearching ? '' : undefined}}"
                ng-if="((!isSearching || Auth.success ) && exchange.relationships.length) || Auth.isEditor()"
                on-create="createRelationship(data, payload, exchange, interview.id)"
                on-delete="deleteRelationship(data)"
                on-adding="player.pause()"
                on-editing="player.pause()"
                on-created="relationships.push(data)">
              </relationship-list>
            </div>
            <!-- end of relationships -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>