<div class="content">
  <div class="page-header has-subnav">
    <div class="container">
      <h1>My Contents</h1>
    </div>
  </div>
  <div class="subnav" style="margin-bottom: 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li ui-sref-active="active"><a ui-sref="user.contents.owned">My contents</a></li>
            <li ng-if="Auth.user.role==='admin'" ui-sref-active="active"><a ui-sref="user.contents.all">All contents</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ui-view></ui-view>
</div>