<editor-tools entity="structure" label="project" state="structure" state-delete="structures.australian" ng-hide="$state.includes('structure.summary.bulk')"></editor-tools>
  
<div class="l-frame l-frame-tight">
  <div class="container">
    <div class="row" ng-hide=" $state.includes('structure.summary.edit') || $state.includes('structure.summary.bulk') ">
      <div class="col-sm-7">
        <h5>Summary</h5>
        <p style="white-space: pre-wrap;" ng-bind-html="structure.summary"></p>
        <p class="text-muted" ng-show="!structure.summary.length">No summary</p>
        <h5 style="margin-top: 24px;">Associated Firms</h5>
        <p class="text-muted" ng-show="!designers.firms.length">No associated firm</p>
        <ul class="media-list">
          <li class="media" style="margin-bottom: 10px;" ng-repeat="designer in designers.firms"><a class="pull-left"
            ui-sref="firm.summary({ firmId: designer.subject })"> <img ng-if="designer.media" class="media-object img-responsive img-circle"
              ng-src="{{Uris.WS_MEDIA+designer.media+'?dimension=32x32'}}" style="width: 32px; height: 32px;">
          </a>
            <div class="media-body">
              <a ui-sref="firm.summary({ firmId: designer.subject })"> {{ designer.subjectlabel }} </a> » <a
                ui-sref="firm.structures({ firmId: designer.subject })"> Projects </a>
            </div></li>
        </ul>
        <h5 style="margin-top: 24px;">Associated Architects</h5>
        <div class="text-muted" ng-show="!designers.architects.length">No associated architects</div>
        <ul class="media-list">
          <li class="media" ng-repeat="designer in designers.architects"><a class="pull-left"
            ui-sref="architect.summary({ architectId: designer.subject })"> <img ng-if="designer.media"
              class="media-object img-responsive img-circle" ng-src="{{Uris.WS_MEDIA+designer.media+'?dimension=32x32'}}"
              style="display: block; width: 32px">
          </a>
            <div class="media-body">
              <a ui-sref="architect.summary({ architectId: designer.subject })"> {{ designer.subjectlabel }} </a> » <a
                ui-sref="architect.structures({ architectId: designer.subject })"> Projects </a>
            </div></li>
        </ul>
        <h5 style="margin-top: 24px;">Location</h5>
        <p ng-show="structure.location.length">{{ structure.location }}</p>
        <p class="text-muted" ng-hide="structure.location.length">No location</p>
        <h5 style="margin-top: 24px;">Completion Date</h5>
        <p ng-show="structure.completion.length">{{ _completion }}</p>
        <p ng-hide="structure.completion.length">Unknown</p>
        <h5 style="margin-top: 24px;">Demolished</h5>
        <p>{{ structure.demolished && 'Yes' || 'No' }}</p>
        <h5 style="margin-top: 24px;">Typology</h5>
        <ul>
          <li ng-repeat="typology in structure.typologies">{{ typology }}</li>
        </ul>
        <p class="text-muted" ng-show="!structure.typologies.length">No building typology</p>
      </div>
      <div class="col-sm-5">
        <img ng-if="structure.media.length>1" class="img-responsive"
          ng-src="{{Uris.WS_MEDIA+((structure.media|filter:{preferred:'!!'})[0].id||structure.media[0].id)+'?dimension=460x550'}}" /> <img
          ng-if="structure.media.length==1&&structure.media[0].id" class="img-responsive"
          ng-src="{{Uris.WS_MEDIA+structure.media[0].id+'?dimension=460x550'}}" />
      </div>
    </div>
    <div class="row" ng-show="$state.includes('structure.summary.edit')">
      <div class="col-sm-12">
        <form name="form" ng-submit="updateStructure(structure)">
          <div class="form-group">
            <label>Name <i class="fa fa-asterisk fa-asterisk-required"></i></label> <input type="text" class="form-control" ng-model="structure.label"
              placeholder="Project Name" required>
          </div>
          <div class="form-group">
            <label>Associated Firms</label>
            <div class="row">
              <div class="col-sm-10">
                <div ui-select2="firmSelect" ng-model="structure.$associatedFirm" class="form-control"></div>
              </div>
              <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                <button class="btn btn-default form-control" ui-sref="firm.summary.edit({})">
                  <i class="fa fa-plus"></i> New Firm
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Associated Architects</label>
            <div class="row">
              <div class="col-sm-10">
                <div ui-select2="architectSelect" ng-model="structure.$associatedArchitects" class="form-control"></div>
              </div>
              <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                <button class="btn btn-default form-control" ui-sref="architect.summary.edit({})">
                  <i class="fa fa-plus"></i> New Architect
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Building Typology <i class="fa fa-asterisk fa-asterisk-required"></i></label>
            <div name="typology" ui-select2="typologySelect" ng-model="structure.$typologies" class="form-control required" ng-required="true"></div>
          </div>
          <div class="form-group">
            <label>Completion Date</label>
            <div>
              <small>Optionally enter completion date as full date (DD-MM-YYYY), year-month (MM-YYYY), or year only (YYYY).</small>
            </div>
            <input name="completion" type="text" class="form-control" placeholder="DD-MM-YYYY" ng-model="_completion" validdate="true">
            <p ng-show="form.completion.$error.validdate" class="text-danger">Invalid date format. Please enter valid date formatted either as DD-MM-YYYY, MM-YYYY, or YYYY. </p>
          </div>
          <div class="checkbox">
            <label> <input type="checkbox" ng-model="structure.australian">Australian Project
            </label>
          </div>
          <div class="checkbox">
            <label> <input type="checkbox" ng-model="structure.demolished">Demolished
            </label>
          </div>
          <div class="form-group">
            <label>Summary</label>
            <textarea ui-tinymce="tinymceOptions" rows="10" id="summary" class="form-control" placeholder="Summary" ng-model="structure.summary"></textarea>
          </div>
          <div class="form-group">
            <label for="biography">Address</label> <input type="text" ng-model="structure.location" class="form-control"
              placeholder="Address of the project" />
          </div>
          <div class="form-group">
            <label>Coordinates</label>
            <div class="row">
              <div class="col-md-6">
                <input id="LAT" type="text" placeholder="Latitude" ng-model="structure.latitude" class="form-control">
              </div>
              <div class="col-md-6">
                <input id="LNG" type="text" placeholder="Longitude" ng-model="structure.longitude" class="form-control">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || structure.$typologies.length == 0">Save</button>
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </form>
      </div>
    </div>

    <div class="row" ng-show="$state.includes('structure.summary.bulk')">
      <div class="col-sm-12">
        <form name="form" ng-submit="updateBulkStructures(structure, $datafile)">
          <!-- <div class="form-group">
            <label>Name  <i class="fa fa-asterisk fa-asterisk-required"></i></label> <input type="text" class="form-control" ng-model="structure.label"
              placeholder="Project Name" required>
          </div> -->
          <div class="form-group">
            <label>Associated Firms</label>
            <div class="row">
              <div class="col-sm-10">
                <div ui-select2="firmSelect" ng-model="structure.$associatedFirm" class="form-control"></div>
              </div>
              <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                <button class="btn btn-default form-control" ui-sref="firm.summary.edit({})">
                  <i class="fa fa-plus"></i> New Firm
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Associated Architects</label>
            <div class="row">
              <div class="col-sm-10">
                <div ui-select2="architectSelect" ng-model="structure.$associatedArchitects" class="form-control"></div>
              </div>
              <div class="col-sm-2" style="border-left: 1px solid #ccc; padding-left: 16px;">
                <button class="btn btn-default form-control" ui-sref="architect.summary.edit({})">
                  <i class="fa fa-plus"></i> New Architect
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">

            <label>Data File (xls)</label>
            <div class="form-group upload">
              <div ng-file-drop ng-model="$datafile" ng-file-drag-over-class="upload-dropzone-dragover" ng-show="dropSupported" class="upload-dropzone">
                <i class="fa fa-cloud-upload"></i> Drop data files here
              </div>
              <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
              <div class="upload-choose">
                <div class="upload-choose-label">Or select files</div>
                <input type="file" ng-file-select ng-model="$datafile"  accept=".xlsx, .xls" file-input="file" >
              </div>
              
             <div ng-show="expData" class="row">
                <div class="col-sm-10">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:{{ progress }}%;">{{
                      progress }}%</div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <span ng-show="progress == 100"> Uploaded <i class="fa fa-check"></i>
                  </span> <span ng-show="progress < 100"> Uploading... <i class="fa fa-spin fa-refresh"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid ||!$datafile ||processing">Save</button> -->
          <button type="button" class="btn btn-default" ng-click="cancel()" ng-disabled="processing">Cancel</button>
        </form>
      </div>
    </div>

     

    <div class="modal" id="mdl_confirmBox" tabindex="-1" data-bs-backdrop="static">
      <div class="modal-dialog" style="width:60% !important;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Please Confirm the following records !</h5>
            
          </div>
          <div class="modal-body">
              <p> Some of the records were not found in the database, but similar records were found. Please update to the similar record or add a new one. </p>
              <table id="projectTable" class="table table-striped table-bordered" >
                <thead>
                  <tr>
                    <th >Row</th>
                    <th >Current Firm</th>
                    <th>Similar Firm</th>
                    
                    <th >Current Architect</th>
                    <th>Similar Architect</th>
                    
                    <th>New Firm</th>
                    <th>New Architect</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="record in records" ng-if="record.existingFirm || record.similarFirm || record.existingArchitect || record.similarArchitect || record.newFirm || record.newArchitect">

                    <td>{{record.rowNumber}}</td>
                    <td > {{record.existingFirm}}</td>
                    <td > {{record.similarFirm.label}}</td>
                    <td > {{record.existingArchitect}}</td>
                    <td > {{record.similarArchitect.label}}</td>
                    <td > {{record.newFirm}}</td>
                    <td > {{record.newArchitect}}</td>
                    <td>
                      <button  ng-if="record.newFirm !=null || record.similarFirm !=null" type="button" class="btn btn-primary btn-sm" ng-class="{'button-clicked':record.firmConfirmed}" ng-click="addFirm(record)">Add as new firm</button>
                      <button  ng-if="record.similarFirm !=null" type="button" class="btn btn-primary btn-sm" ng-class="{'button-clicked':record.firmConfirmed}" ng-click="updateFirm(record) ">Update to similar firm</button>
                      
                      <button  ng-if="record.newArchitect !=null || record.similarArchitect !=null" type="button" class="btn btn-secondary btn-sm" ng-class="{'button-clicked':record.architectConfirmed}" ng-click="addArchitect(record)">Add as new architect</button>
                      <button  ng-if="record.similarArchitect !=null" type="button" class="btn btn-secondary btn-sm" ng-class="{'button-clicked':record.architectConfirmed}" ng-click="updateArchitect(record)">Update to similar architect</button>
                      
                     <!--  <button  ng-if="record.similarArchitect !=null || record.similarFirm !=null" type="button" class="btn btn-primary btn-sm" ng-click="updateToSimilar(record); checkAllConfirmed()">Update to similar record</button> -->
                    </td>

                  </tr>
                </tbody>

              </table> 
          </div>
        </div>
      </div>
    </div>

    

  </div>
</div>
